{anchor:attr-{{name}} }
{panel:title={{name}}|bgColor=#F1F0F8|borderStyle=solid}
{{#crossLink type}}{{/crossLink}}
{{#htmlToMarkdown}}
{{description}}
{{/htmlToMarkdown}}

{{#trimmedSingleLineBreaks}}
    {{#if access}}
        (i) {{access}}
    {{/if}}

    {{#if final}}
        (i) final
    {{/if}}

    {{#if static}}
        (i) static
    {{/if}}

    {{#if optional}}
        (i) optional
    {{/if}}

    {{#if required}}
        (i) required
    {{/if}}

    {{#if readonly}}
        (i) readonly
    {{/if}}

    {{#if overwritten_from}}
        (i) Inherited from
        [{{overwritten_from/class}}|{{crossLinkRaw overwritten_from/class}}#attr_{{overwritten_from/name}}]
        {{#if foundAt}}
        but overwritten in
        {{/if}}
    {{else}}
        {{#if extended_from}}
            (i) Inherited from
            [{{extended_from}}|{{crossLinkRaw extended_from}}#attr_{{name}}]:
        {{else}}
            {{#providedBy}}
                (i) Provided by the [{{.}}|../modules/{{.}}.html] module.
            {{/providedBy}}
            {{#if foundAt}}
            Defined in
            {{/if}}
        {{/if}}
    {{/if}}
    {{#if foundAt}}
    [{{{file}}}:{{{line}}}|{{#aToMarkup}}{{foundAt}}{{/aToMarkup}}]
    {{/if}}

    {{#if since}}
        (i) Available since {{since}}
    {{/if}}
    {{#if deprecated}}
        (!) deprecated{{#if deprecationMessage}} {{deprecationMessage}}{{/if}}
    {{/if}}
{{/trimmedSingleLineBreaks}}

{{#if default}}
*Default:* {{default}}
{{/if}}

{{#if emit}}
{panel:title=Description|borderStyle=solid}
h4.Fires event {{name}}Change

Fires when the value for the configuration attribute `{{{name}}}` is
changed. You can listen for the event using the `on` method if you
wish to be notified before the attribute's value has changed, or
using the `after` method if you wish to be notified after the
attribute's value has changed.

    h4.Parameters:

    * {{#crossLink "EventFacade"}}event{{/crossLink}}
    An Event Facade object with the following
    attribute-specific properties added:
{panel}
{{/if}}

{{#if example}}
h4.Example:
{{#code example}}{{/code}}
{{/if}}
{panel}
