h1.Class: {{name}}

{panel:title=Description|bgColor=#F1F0F8|borderStyle=solid}
{{#trimmedSingleLineBreaks}}
    {{#if uses}}
    *Uses:* {{#uses}}[{{.}}|{{.}}.html], {{/uses}}
    {{/if}}

    {{#if extends}}
    *Extends:* {{#aToMarkup}}{{#crossLink extends}}{{/crossLink}}{{/aToMarkup}}
    {{/if}}

    {{#if module}}
        {{#if submodule}}
            *Module:* {{#aToMarkup}}{{#crossLinkModule submodule}}{{/crossLinkModule}}{{/aToMarkup}}
            *Parent Module:* {{#aToMarkup}}{{#crossLinkModule module}}{{/crossLinkModule}}{{/aToMarkup}}
        {{else}}
            *Module:* {{#aToMarkup}}{{#crossLinkModule module}}{{/crossLinkModule}}{{/aToMarkup}}
        {{/if}}
    {{/if}}

    {{#if since}}
        (i) Available since {{since}}
    {{/if}}

{{#if deprecated}}
    {{#if deprecationMessage}}
        (!) Deprecated: {{deprecationMessage}}
    {{else}}
        (!) This class is deprecated.
    {{/if}}
{{/if}}
{{/trimmedSingleLineBreaks}}


{{#if classDescription}}
{{#htmlToMarkdown}}{{classDescription}}{{/htmlToMarkdown}}
{{/if}}
{panel}

{{#is_constructor}}
h2.Constructor
{{>method}}
{{/is_constructor}}

h2.Contents
{section}
{{#hasInstanceMethods methods}}
{column}
h3.Methods
{{#methods}}
{{#if static}}
{{else}}
* [{{name}}|#method-{{name}}]
{{/if}}
{{/methods}}
{column}
{{/hasInstanceMethods}}

{{#if properties}}
{column}
h3.Properties
{{#properties}}
* [{{name}}|#prop-{{name}}]
{{/properties}}
{column}
{{/if}}

{{#if attrs}}
{column}
h3.Attributes
{{#attrs}}
* [{{name}}|#attr-{{name}}]
{{/attrs}}
{column}
{{/if}}

{{#hasStaticMethods methods}}
{column}
h3.Static Methods
{{#methods}}
{{#if static}}
* [{{name}}|#method-{{name}}]
{{/if}}
{{/methods}}
{column}
{{/hasStaticMethods}}
{section}

{{#if events}}
{column}
h3.Events
{{#events}}
* [{{name}}|#event-{{name}}]
{{/events}}
{column}
{{/if}}

{{#hasInstanceMethods methods}}
h2.Methods
{{#methods}}
{{#if static}}
{{else}}
{{>method}}
{{/if}}
{{/methods}}
{{/hasInstanceMethods}}

{{#if properties}}
h2.Properties
{{#properties}}
{{>props}}
{{/properties}}
{{/if}}

{{#if attrs}}
h2.Attributes
{{#attrs}}
{{>attrs}}
{{/attrs}}
{{/if}}

{{#if events}}
h2.Events
{{#events}}
{{>events}}
{{/events}}
{{/if}}

{{#hasStaticMethods methods}}
h2.Static Methods
{{#methods}}
{{#if static}}
{{>method}}
{{/if}}
{{/methods}}
{{/hasStaticMethods}}
