h1.Element &lt;{{name}}&gt;
{{#if elementDescription}}
h4.Description
{{#lineTrim}}{{#htmlToMarkdown}}{{elementDescription}}{{/htmlToMarkdown}}{{/lineTrim}}
{{/if}}
{{#trimmedSingleLineBreaks}}
    {{#if foundAt}}
        (i) Defined in: [{{{file}}}:{{{line}}}|{{#aToMarkup}}{{foundAt}}{{/aToMarkup}}]
    {{/if}}

    {{#if module}}
        {{#if submodule}}
            (i) Module: {{#aToMarkup}}{{#crossLinkModule submodule}}{{/crossLinkModule}}{{/aToMarkup}}
            (i) Parent Module: {{#aToMarkup}}{{#crossLinkModule module}}{{/crossLinkModule}}{{/aToMarkup}}
        {{else}}
            (i) Module: {{#aToMarkup}}{{#crossLinkModule module}}{{/crossLinkModule}}{{/aToMarkup}}
        {{/if}}
    {{/if}}

    {{#if since}}
        (i)Available since {{since}}(i)
    {{/if}}

    {{#if deprecated}}
        {{#if deprecationMessage}}
            (!) Deprecated: {{deprecationMessage}}
        {{else}}
            (!) This element is deprecated.
        {{/if}}
    {{/if}}

    {{#if parents}}
        (i) Permitted parent elements: {{parents}}
    {{/if}}

    {{#if content}}
        (i) Permitted content: {{#linkElementList}}{{content}}{{/linkElementList}}
    {{/if}}
{{/trimmedSingleLineBreaks}}

{{#if example}}
h4.Example
{{#code example}}{{/code}}
{{/if}}

{{#if interface}}
h2.Interface
This element implements the {{#aToMarkup}}{{#crossLink interface}}{{/crossLink}}{{/aToMarkup}} class.
{{/if}}

h2.Attributes
{{#if attributes}}
{{#attributes}}
{{>attributes}}
{{/attributes}}
{{else}}
This element has no defined attributes.
{{/if}}
