{anchor:event-{{name}} }
{panel:title={{name}}|bgColor=#F1F0F8|borderStyle=solid}
h3.{{name}}
{{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}}
{{#singleSpacesOnly}}
    {{#if overwritten_from}}
        (i) Inherited from
        [{{overwritten_from/class}}|{{crossLinkRaw overwritten_from/class}}#event_{{overwritten_from/name}}]
        {{#if foundAt}}
        but overwritten in
        {{/if}}
    {{else}}
        {{#if extended_from}}
            (i) Inherited from
            [{{extended_from}}|{{crossLinkRaw extended_from}}#event_{{name}}]:
        {{else}}
            {{#providedBy}}
                (i) Provided by the [{{.}}|../modules/{{.}}.html] module.
            {{/providedBy}}
            {{#if foundAt}}
            Defined in
            {{/if}}
        {{/if}}
    {{/if}}
    {{#if foundAt}}
    [{{{file}}}:{{{line}}}|{{#aToMarkup}}{{foundAt}}{{/aToMarkup}}]
    {{/if}}
{{/singleSpacesOnly}}
{{#trimmedSingleLineBreaks}}
    {{#if access}}
        (i) {{access}}
    {{/if}}

    {{#if final}}
        (i)final
    {{/if}}

    {{#if static}}
        (i) static
    {{/if}}

    {{#if since}}
        Available since {{since}}
    {{/if}}

    {{#if deprecated}}
        (!) deprecated {{#if deprecationMessage}}{{deprecationMessage}}{{/if}}
    {{/if}}
{{/trimmedSingleLineBreaks}}

h4.Description
{{#htmlToMarkdown}}{{{eventDescription}}}{{/htmlToMarkdown}}

{{#if params}}
h4.Event Payload:
{{#params}}
{{#trimmedSingleLineBreaks}}
    * {{#if optional}}
            [{{name}}{{#if optdefault}}={{optdefault}}{{/if}}] {{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}} {span:style=background:#ebebeb; padding:2px 4px;border-radius:3px}optional{span} {{#htmlToMarkdown}}{{description}}{{/htmlToMarkdown}}
        {{else}}
            {{name}} {{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}} {{#htmlToMarkdown}}{{description}}{{/htmlToMarkdown}}
        {{/if}}

        {{#if multiple}}
            (i) Multiple
        {{/if}}
        {{#if props}}
            {{#props}}
            ** {{#if optional}}
                    [{{name}}{{#if optdefault}}={{optdefault}}{{/if}}] {{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}} {span:style=background:#ebebeb; padding:2px 4px;border-radius:3px}optional{span} {{#htmlToMarkdown}}{{{description}}}{{/htmlToMarkdown}}
                {{else}}
                    {{name}} {{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}} {{#htmlToMarkdown}}{{{description}}}{{/htmlToMarkdown}}
                {{/if}}
                {{#if props}}
                    {{#props}}
                    *** {{name}} {{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}} {{#htmlToMarkdown}}{{description}}{{/htmlToMarkdown}}
                    {{/props}}
                {{/if}}
            {{/props}}
        {{/if}}
{{/trimmedSingleLineBreaks}}
{{/params}}
{{/if}}

{{#if example}}
h4.Example
{{#code example}}{{/code}}
{{/if}}
{panel}
