{{!-- {
	access: relates to public/private
	deprecated: boolean
	extended_from:
	name: string
--}}
{anchor:method-{{name}} }
{panel:title={{name}}|bgColor=#F1F0F8|borderStyle=solid}
{{#singleSpacesOnly}}
{{#if overwritten_from}}
	(i) Inherited from
		[{{overwritten_from/class}}|{{crossLinkRaw overwritten_from/class}}#method_{{overwritten_from/name}}]
	{{#if foundAt}}
		but overwritten in
	{{/if}}
{{else}}
	{{#if extended_from}}
		(i) Inherited from
		[{{extended_from}}|{{crossLinkRaw extended_from}}#method_{{name}}]
	{{else}}
		{{#providedBy}}
			(i) Provided by the [{{.}}|../modules/{{.}}.html] module.
		{{/providedBy}}
		{{#if foundAt}}
		Defined in
		{{/if}}
	{{/if}}
{{/if}}

{{#if foundAt}}
	[{{{file}}}:{{{line}}}|{{#aToMarkup}}{{foundAt}}{{/aToMarkup}}]
{{/if}}
{{/singleSpacesOnly}}

{{#singleSpacesOnly}}
{{#if since}}
	(i) Available since {{since}}
{{/if}}
{{/singleSpacesOnly}}

{{#trimmedSingleLineBreaks}}
	{{#if access}}
		(i) {{access}}
	{{/if}}

	{{#if final}}
		(i) final
	{{/if}}

	{{#if chainable}}
		(i) chainable
	{{/if}}

	{{#if async}}
		(i) async
	{{/if}}

	{{#if deprecated}}
		(!) deprecated{{#if deprecationMessage}} {{deprecationMessage}}{{/if}}
	{{/if}}
{{/trimmedSingleLineBreaks}}


{{#byeByeWhiteSpace}}
{{#if static}}{{class}}.{{/if}}*{{name}}*
{{/byeByeWhiteSpace}}{{#if params}}({{#params}}{color:#999999}{{#if optional}}\[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}\]{{else}}{{name}}{{/if}}{color}{{#unless @last}}, {{/unless}}{{/params}}){{else}}(){{/if}}

{{#notEmpty methodDescription}}
h4.Description
{{#htmlToMarkdown}}{{{methodDescription}}}{{/htmlToMarkdown}}
{{/notEmpty}}

{{#if params}}
{{#trimmedSingleLineBreaks}}
h4.Parameters
{{#params}}
	{{#singleSpacesOnly}}
	{{#if optional}}
		\[_{{name}}{{#if optdefault}}={{optdefault}}{{/if}}_\]: {{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}}					{span:style=background:palegoldenrod; margin: 0 5px; font-size: 0.8em; padding:2px 4px;border-radius:3px}optional{span}
	{{else}}
		{{name}}: {{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}}
	{{/if}}

	{{#if multiple}}
		{span:style=background:palegoldenrod; margin: 0 5px; font-size: 0.8em; padding:2px 4px;border-radius:3px}multiple{span}
	{{/if}}
	{{/singleSpacesOnly}} {{#notEmpty description}}{{#htmlToMarkdown}}{{{description}}}{{/htmlToMarkdown}}{{/notEmpty}}

	{{#if props}}
		{{#props}}
			{{#singleSpacesOnly}}
			* {{#if optional}}
				\[_{{name}}{{#if optdefault}}={{optdefault}}{{/if}}_\]: {{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}}
				{span:style=background:palegoldenrod; margin: 0 5px; font-size: 0.8em; padding:2px 4px;border-radius:3px}optional{span}
			{{else}}
				{{name}}: {{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}}
			{{/if}}
			{{/singleSpacesOnly}} {{#htmlToMarkdown}}{{{description}}}{{/htmlToMarkdown}}
			{{#if props}}
				** {{#props}}
					{{#singleSpacesOnly}}
					{{#if optional}}
						\[_{{name}}{{#if optdefault}}={{optdefault}}{{/if}}_\]: {{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}}
						{span:style=background:palegoldenrod; margin: 0 5px; font-size: 0.8em; padding:2px 4px;border-radius:3px}optional{span}
					{{else}}
						{{name}}: {{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}}
					{{/if}}
					{{/singleSpacesOnly}} {{#htmlToMarkdown}}{{{description}}}{{/htmlToMarkdown}}
				{{/props}}
			{{/if}}
		{{/props}}
	{{/if}}
{{/params}}
{{/trimmedSingleLineBreaks}}
{{/if}}


{{#return}}
h4.Returns
{{#singleSpacesOnly}}
	{{#notEmpty description}}
		{{#if type}}
			{{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}}:
		{{/if}}
		{{#htmlToMarkdown}}{{{description}}}{{/htmlToMarkdown}}
	{{else}}
		{{#if type}}
			{{#crossLinkWrapper type}}{{#crossLink type}}{{/crossLink}}{{/crossLinkWrapper}}
		{{/if}}
	{{/notEmpty}}
{{/singleSpacesOnly}}
{{/return}}

{{#if example}}
h4.Example
{{#code example}}{{/code}}
{{/if}}
{panel}
