h1.Module: {{name}}

{{#if requires}}
h4.Requires
{{#requires}}
* {{#aToMarkup}}{{#crossLinkModule .}}{{/crossLinkModule}}{{/aToMarkup}}
{{/requires}}
{{/if}}

{{#trimmedSingleLineBreaks}}
    {{#if deprecated}}
        {{#if deprecationMessage}}
            (!) Deprecated: {{deprecationMessage}}
        {{else}}
            (!) This module is deprecated.
        {{/if}}
    {{/if}}

    {{#if foundAt}}
        (i) Defined in: [{{{file}}}:{{{line}}}|{{#aToMarkup}}{{foundAt}}{{/aToMarkup}}]
    {{/if}}

    {{#if since}}
        (i) Available since {{since}}
    {{/if}}
{{/trimmedSingleLineBreaks}}

h4.Description
{{#htmlToMarkdown}}
{{moduleDescription}}
{{/htmlToMarkdown}}

{{#if moduleClasses}}
This module provides the following classes:
{{#moduleClasses}}
* [{{displayName}}|{{#aToMarkup}}../classes/{{name}}{{/aToMarkup}}]
{{/moduleClasses}}
{{/if}}

{{#if subModules}}
This module is a rollup of the following modules:
{{#subModules}}
* [{{displayName}}|{{#aToMarkup}}../modules/{{name}}{{/aToMarkup}}]
{{/subModules}}
{{/if}}

{{#if example}}
h4.Example
{{#code example}}{{/code}}
{{/if}}