{anchor:prop-{{name}} }
{panel:title={{name}}|bgColor=#F1F0F8|borderStyle=solid}
{{name}} - {{#aToMarkup}}{{#crossLink type}}{{/crossLink}}{{/aToMarkup}}

{{#trimmedSingleLineBreaks}}
{{#if deprecated}}
    (!) deprecated{{#if deprecationMessage}} {{deprecationMessage}}{{/if}}
{{/if}}

{{#if access}}
    (i) {{access}}
{{/if}}

{{#if final}}
    (i) const
{{/if}}

{{#if static}}
    (i) static
{{/if}}

{{#if since}}
    (i) Available since {{since}}
{{/if}}

{{#if default}}
    (i) Default: {{default}}
{{/if}}
{{/trimmedSingleLineBreaks}}

{{#singleSpacesOnly}}
    {{#if overwritten_from}}
        (i) Inherited from
        [{{overwritten_from/class}}|{{#aToMarkup}}{{crossLinkRaw overwritten_from/class}}#property_{{overwritten_from/name}}{{/aToMarkup}}]
        {{#if foundAt}}
        but overwritten in
        {{/if}}
    {{else}}
        {{#if extended_from}}
            (i) Inherited from
            [{{extended_from}}|{{#aToMarkup}}{{crossLinkRaw extended_from}}#property_{{name}}{{/aToMarkup}}]:
        {{else}}
            {{#providedBy}}
                (i) Provided by the [{{.}}|{{#aToMarkup}}../modules/{{.}}{{/aToMarkup}}] module.
            {{/providedBy}}
            {{#if foundAt}}
                (i) Defined in
            {{/if}}
        {{/if}}
    {{/if}}
    {{#if foundAt}}
    [{{{file}}}:{{{line}}}|{{#aToMarkup}}{{foundAt}}{{/aToMarkup}}]
    {{/if}}
{{/singleSpacesOnly}}

h4.Description
{{#htmlToMarkdown}}{{{propertyDescription}}}{{/htmlToMarkdown}}

{{#if subprops}}
h4.Sub-properties:

{{#subprops}}
* {{#if optional}}
        \{\{monospaced\}\}\[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}\]\{\{monospaced\}\} {{#crossLink type}}{{/crossLink}} {span:style=background:#ebebeb; padding:2px 4px;border-radius:3px}optional{span}
    {{else}}
        \{\{monospaced\}\}{{name}}\{\{monospaced\}\} {{#crossLink type}}{{/crossLink}}
    {{/if}}
    {{#htmlToMarkdown}}{{{description}}}{{/htmlToMarkdown}}

    {{#if subprops}}
        {{#subprops}}
        * {{#if optional}}
                \{\{monospaced\}\}\[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}\]\{\{monospaced\}\}{{#crossLink type}}{{/crossLink}} {span:style=background:#ebebeb; padding:2px 4px;border-radius:3px}optional{span}
            {{else}}
                \{\{monospaced\}\}{{name}}\{\{monospaced\}\} {{#crossLink type}}{{/crossLink}}
            {{/if}}
            {{#htmlToMarkdown}}{{{description}}}{{/htmlToMarkdown}}
        {{/subprops}}
    {{/if}}
{{/subprops}}
{{/if}}

{{#if example}}
h4.Example
{{#code example}}{{/code}}
{{/if}}
{panel}